body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

.upload-section, .table-section {
    width: 45%; /* Ajusta el ancho según tus preferencias */
}
.upload-section, .table-section {
    border: 1px solid #ccc; /* Línea divisoria vertical */
    padding: 10px; /* Espacio para mejorar la apariencia */
}
h1 {
    color: #221;
}

form {
    margin-top: 20px;
}

/* Estilo para el botón de carga de archivos */
.custom-file-input {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-file-input input[type="file"] {
    display: none;
}

button[type="button"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

h2 {
    margin-top: 20px;
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #3498db;
}

/* Estilo para mostrar la información del archivo seleccionado */
#file-details {
    display: none;
}
